[submodule "src/arm_idl"]
	path = src/arm_idl
	url = https://github.com/samlovelace/arm_idl.git
[submodule "src/vision_idl"]
	path = src/vision_idl
	url = https://github.com/samlovelace/vision_idl.git
